In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\aparna\anaconda3\lib\site-packages (9.6.0)

In [2]:
import mysql.connector

conn = mysql.connector.connect(
    host="18.136.157.135",
    port=3306,
    user=" dm_team1",
    password="DM!$Team&279@20!",
    database="project_banking"
)

print("Connected Successfully!")

cursor = conn.cursor()
cursor.execute("SHOW TABLES;")

for table in cursor:
    print(table)

Connected Successfully!
('Cust_Account',)
('Cust_Demographics',)
('Cust_Enquiry',)

In [3]:
cursor.execute("SELECT * FROM Cust_Account LIMIT 5;")
rows = cursor.fetchall()

for row in rows:
    print(row)

('10-Nov-15', '12265', '20-Oct-15', '6', '1', '09-Jun-13', '30-Jun-14', '05-Jul-14', '30-Sep-15', '20900', '0', '', '"""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXSTD"""', '', '01-Sep-15', '01-Jul-14', '', '', '', '', '')
('10-Nov-15', '12265', '20-Oct-15', '10', '1', '25-May-12', '06-Sep-15', '', '03-Oct-15', '16201', '10390', '', '"""000000000000000000000000000000000000000000000000000000"""', '"""000000000000000000000000000XXX000000000000000000000000"""', '01-Oct-15', '01-Nov-12', '14000', '1400', '', '3', '5603')
('10-Nov-15', '12265', '20-Oct-15', '10', '1', '22-Mar-12', '31-Aug-15', '', '30-Sep-15', '41028', '34420', '', '"""000000000000000000000000000000000000000000000000000000"""', '"""000000000000000000000000000000000000000000000000000000"""', '01-Sep-15', '01-Oct-12', '', '', '', '', '')
('20-Jul-15', '15606', '09-Jul-15', '10', '1', '13-Jan-06', '', '26-Jul-07', '31-Jan-09', '93473', '0', '', '"""120090060060060030000000000000000000000000000000000000"""', '', '01-Jul-07', '01-Feb-06', '', '', '', '', '')
('20-Jul-15', '15606', '09-Jul-15', '6', '1', '18-Jan-15', '05-May-15', '', '31-May-15', '20250', '13500', '', '"""000000000000000"""', '', '01-May-15', '01-Jan-15', '', '', '', '', '')

In [4]:
import pandas as pd

df_account = pd.read_sql("SELECT * FROM Cust_Account", conn)
df_enquiry = pd.read_sql("SELECT * FROM Cust_Enquiry", conn)
df_demo = pd.read_sql("SELECT * FROM Cust_Demographics", conn)

print(df_account.head())

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4270682376.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_account = pd.read_sql("SELECT * FROM Cust_Account", conn)
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4270682376.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_enquiry = pd.read_sql("SELECT * FROM Cust_Enquiry", conn)
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4270682376.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_demo = pd.read_sql("SELECT * FROM Cust_Demographics", conn)

   dt_opened customer_no  upload_dt acct_type owner_indic  opened_dt  \
0  10-Nov-15       12265  20-Oct-15         6           1  09-Jun-13
1  10-Nov-15       12265  20-Oct-15        10           1  25-May-12
2  10-Nov-15       12265  20-Oct-15        10           1  22-Mar-12
3  20-Jul-15       15606  09-Jul-15        10           1  13-Jan-06
4  20-Jul-15       15606  09-Jul-15         6           1  18-Jan-15

  last_paymt_dt  closed_dt reporting_dt high_credit_amt  ... amt_past_due  \
0     30-Jun-14  05-Jul-14    30-Sep-15           20900  ...
1     06-Sep-15               03-Oct-15           16201  ...
2     31-Aug-15               30-Sep-15           41028  ...
3                26-Jul-07    31-Jan-09           93473  ...
4     05-May-15               31-May-15           20250  ...

                                     paymenthistory1  \
0  """STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...
1  """0000000000000000000000000000000000000000000...
2  """0000000000000000000000000000000000000000000...
3  """1200900600600600300000000000000000000000000...
4                              """000000000000000"""

                                     paymenthistory2 paymt_str_dt  \
0                                                       01-Sep-15
1  """000000000000000000000000000XXX0000000000000...    01-Oct-15
2  """0000000000000000000000000000000000000000000...    01-Sep-15
3                                                       01-Jul-07
4                                                       01-May-15

  paymt_end_dt creditlimit cashlimit rateofinterest paymentfrequency  \
0    01-Jul-14
1    01-Nov-12       14000      1400                               3
2    01-Oct-12
3    01-Feb-06
4    01-Jan-15

  actualpaymentamount
0
1                5603
2
3
4

[5 rows x 21 columns]

In [5]:
df_demo.to_csv("Cust_Demographics.csv", index=False)
df_account.to_csv("Cust_Account.csv", index=False)
df_enquiry.to_csv("Cust_Enquiry.csv", index=False)

In [6]:
import os
os.getcwd()

'C:\\Users\\APARNA\\Documents\\Client Project'

In [7]:
data1=pd.read_csv("Cust_Account.csv")

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\2202858513.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  data1=pd.read_csv("Cust_Account.csv")

In [8]:
data1.head()

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900.0,...,NaN,"""""""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...",NaN,01-Sep-15,01-Jul-14,NaN,NaN,NaN,NaN,NaN
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,NaN,03-Oct-15,16201.0,...,NaN,"""""""0000000000000000000000000000000000000000000...","""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000.0,1400.0,NaN,3.0,5603.0
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,NaN,30-Sep-15,41028.0,...,NaN,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,NaN,NaN,NaN,NaN,NaN
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,NaN,26-Jul-07,31-Jan-09,93473.0,...,NaN,"""""""1200900600600600300000000000000000000000000...",NaN,01-Jul-07,01-Feb-06,NaN,NaN,NaN,NaN,NaN
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,NaN,31-May-15,20250.0,...,NaN,"""""""000000000000000""""""",NaN,01-May-15,01-Jan-15,NaN,NaN,NaN,NaN,NaN

In [9]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186329 entries, 0 to 186328
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_opened            186329 non-null  object
 1   customer_no          186329 non-null  int64
 2   upload_dt            186329 non-null  object
 3   acct_type            186329 non-null  int64
 4   owner_indic          186329 non-null  int64
 5   opened_dt            185874 non-null  object
 6   last_paymt_dt        160842 non-null  object
 7   closed_dt            77254 non-null   object
 8   reporting_dt         186329 non-null  object
 9   high_credit_amt      177454 non-null  float64
 10  cur_balance_amt      186329 non-null  int64
 11  amt_past_due         876 non-null     float64
 12  paymenthistory1      186329 non-null  object
 13  paymenthistory2      78505 non-null   object
 14  paymt_str_dt         186328 non-null  object
 15  paymt_end_dt         186328 non-null  object
 16  creditlimit          48852 non-null   float64
 17  cashlimit            35282 non-null   float64
 18  rateofinterest       24833 non-null   object
 19  paymentfrequency     63893 non-null   float64
 20  actualpaymentamount  41053 non-null   float64
dtypes: float64(6), int64(4), object(11)
memory usage: 29.9+ MB

In [10]:
date_cols = ["dt_opened","upload_dt","opened_dt","last_paymt_dt","closed_dt","reporting_dt"]

for col in date_cols:
    data1[col] = pd.to_datetime(data1[col], errors="coerce")

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1903414949.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1[col] = pd.to_datetime(data1[col], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1903414949.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1[col] = pd.to_datetime(data1[col], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1903414949.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1[col] = pd.to_datetime(data1[col], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1903414949.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1[col] = pd.to_datetime(data1[col], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1903414949.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1[col] = pd.to_datetime(data1[col], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1903414949.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1[col] = pd.to_datetime(data1[col], errors="coerce")

In [11]:
data1["opened_dt"].fillna(data1["dt_opened"], inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4198326471.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["opened_dt"].fillna(data1["dt_opened"], inplace=True)

Some missing values are meaningful.
For example, if last_paymt_dt is missing, it may mean the customer never made a payment.

If I directly fill missing values, the model cannot tell which values were originally missing. That removes useful information.

So I did two steps:

Create a flag column (never_paid_flag) that stores whether the value was missing.

Fill missing values with a logical replacement (opened_dt) so calculations can still be done.

This way:

The dataset has no missing values (good for models)

The information that the value was missing is still preserved

So the model can learn patterns like:
customers who never paid → higher risk.

In [12]:
data1["never_paid_flag"] = data1["last_paymt_dt"].isnull().astype(int)
data1["last_paymt_dt"].fillna(data1["opened_dt"], inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\552062690.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["last_paymt_dt"].fillna(data1["opened_dt"], inplace=True)

In [13]:
data1["is_active_account"] = data1["closed_dt"].isnull().astype(int)
data1["closed_dt"].fillna(data1["reporting_dt"], inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\3157574310.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["closed_dt"].fillna(data1["reporting_dt"], inplace=True)

In [ ]:
data1["high_credit_amt"].fillna(0, inplace=True) # hign credit amount means Highest amount of credit customer ever used in that account

In [14]:
data1["amt_past_due"].fillna(0, inplace=True)
#Amount customer has not paid yet but should have paid.
#Because logically missing past due = customer has no overdue So replacing with 0 is correct.

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\199257729.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["amt_past_due"].fillna(0, inplace=True)

Missing values in creditlimit usually mean the account does not have a credit facility, not that the value is unknown.
So we fill missing values with 0 to represent “no credit limit”.

We also create a flag column (has_creditlimit) before filling so we don’t lose the original information about which values were missing.

This helps the model understand:

whether customer had credit access

how much credit they had

So we preserve information and keep data usable for modeling.

In [15]:
data1["has_creditlimit"] = data1["creditlimit"].notnull().astype(int)
data1["creditlimit"].fillna(0, inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1073089347.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["creditlimit"].fillna(0, inplace=True)

In [16]:
data1["has_cashlimit"] = data1["cashlimit"].notnull().astype(int)
data1["cashlimit"].fillna(0, inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\3146667054.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["cashlimit"].fillna(0, inplace=True)

In [17]:
data1["has_interest"] = data1["rateofinterest"].notnull().astype(int)
data1["rateofinterest"] = pd.to_numeric(data1["rateofinterest"], errors="coerce")
data1["rateofinterest"].fillna(0, inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\733417622.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["rateofinterest"].fillna(0, inplace=True)

In [18]:
data1["has_paymentfreq"] = data1["paymentfrequency"].notnull().astype(int)
data1["paymentfrequency"].fillna(0, inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\1705125091.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["paymentfrequency"].fillna(0, inplace=True)

In [19]:
data1["has_payment"] = data1["actualpaymentamount"].notnull().astype(int)
data1["actualpaymentamount"].fillna(0, inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\2958655560.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["actualpaymentamount"].fillna(0, inplace=True)

In [20]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186329 entries, 0 to 186328
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_opened            186329 non-null  datetime64[ns]
 1   customer_no          186329 non-null  int64
 2   upload_dt            186329 non-null  datetime64[ns]
 3   acct_type            186329 non-null  int64
 4   owner_indic          186329 non-null  int64
 5   opened_dt            186329 non-null  datetime64[ns]
 6   last_paymt_dt        186329 non-null  datetime64[ns]
 7   closed_dt            186329 non-null  datetime64[ns]
 8   reporting_dt         186329 non-null  datetime64[ns]
 9   high_credit_amt      177454 non-null  float64
 10  cur_balance_amt      186329 non-null  int64
 11  amt_past_due         186329 non-null  float64
 12  paymenthistory1      186329 non-null  object
 13  paymenthistory2      78505 non-null   object
 14  paymt_str_dt         186328 non-null  object
 15  paymt_end_dt         186328 non-null  object
 16  creditlimit          186329 non-null  float64
 17  cashlimit            186329 non-null  float64
 18  rateofinterest       186329 non-null  float64
 19  paymentfrequency     186329 non-null  float64
 20  actualpaymentamount  186329 non-null  float64
 21  never_paid_flag      186329 non-null  int64
 22  is_active_account    186329 non-null  int64
 23  has_creditlimit      186329 non-null  int64
 24  has_cashlimit        186329 non-null  int64
 25  has_interest         186329 non-null  int64
 26  has_paymentfreq      186329 non-null  int64
 27  has_payment          186329 non-null  int64
dtypes: datetime64[ns](6), float64(7), int64(11), object(4)
memory usage: 39.8+ MB

In [21]:
data2=pd.read_csv("Cust_Demographics.csv")

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\2611541161.py:1: DtypeWarning: Columns (12,20,63) have mixed types. Specify dtype option on import or set low_memory=False.
  data2=pd.read_csv("Cust_Demographics.csv")

In [22]:
data2.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label
0,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,21.0,R,NaN,NaN,0000-00-00,0.0,98332XXXXX,1.0,N,0
1,21-Apr-15,2,21-Apr-15,Insignia,21-Apr-15,760.0,1.0,Card Setup,14.0,1200000.0,...,17.0,R,NaN,NaN,0000-00-00,0.0,99455XXXXX,1.0,N,0
2,22-Apr-15,3,21-Apr-15,Insignia,21-Apr-15,774.0,1.0,Card Setup,14.0,700000.0,...,17.0,R,NaN,NaN,0000-00-00,0.0,98456XXXXX,1.0,N,0
3,25-Apr-15,4,15-Apr-15,Insignia,20-Apr-15,770.0,1.0,Card Setup,14.0,500000.0,...,21.0,R,NaN,NaN,6/15/65,1.0,98220XXXXX,1.0,N,0
4,06-May-15,5,30-Apr-15,Insignia,NaN,NaN,3.0,Card Setup,14.0,500000.0,...,13.0,R,NaN,NaN,0000-00-00,0.0,98111XXXXX,1.0,N,0

In [23]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 83 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dt_opened    23896 non-null  object
 1   customer_no  23896 non-null  int64
 2   entry_time   23881 non-null  object
 3   feature_1    23881 non-null  object
 4   feature_2    21060 non-null  object
 5   feature_3    21060 non-null  float64
 6   feature_4    23881 non-null  float64
 7   feature_5    23881 non-null  object
 8   feature_6    23881 non-null  float64
 9   feature_7    23881 non-null  float64
 10  feature_8    1261 non-null   object
 11  feature_9    1261 non-null   object
 12  feature_10   51 non-null     object
 13  feature_11   23881 non-null  object
 14  feature_12   23881 non-null  object
 15  feature_13   10892 non-null  object
 16  feature_14   16163 non-null  float64
 17  feature_15   23873 non-null  object
 18  feature_16   23869 non-null  object
 19  feature_17   1027 non-null   object
 20  feature_18   18 non-null     object
 21  feature_19   23881 non-null  float64
 22  feature_20   23896 non-null  object
 23  feature_21   23881 non-null  object
 24  feature_22   23896 non-null  object
 25  feature_23   23881 non-null  object
 26  feature_24   23256 non-null  object
 27  feature_25   23881 non-null  float64
 28  feature_26   23881 non-null  float64
 29  feature_27   20259 non-null  object
 30  feature_28   23881 non-null  object
 31  feature_29   23881 non-null  float64
 32  feature_30   23881 non-null  float64
 33  feature_31   23881 non-null  float64
 34  feature_32   23881 non-null  object
 35  feature_33   23881 non-null  object
 36  feature_34   23881 non-null  float64
 37  feature_35   23881 non-null  float64
 38  feature_36   18214 non-null  object
 39  feature_37   18214 non-null  object
 40  feature_38   18214 non-null  object
 41  feature_39   23881 non-null  float64
 42  feature_40   23881 non-null  float64
 43  feature_41   23881 non-null  float64
 44  feature_42   23881 non-null  float64
 45  feature_43   23881 non-null  object
 46  feature_44   23881 non-null  float64
 47  feature_45   10183 non-null  object
 48  feature_46   23802 non-null  object
 49  feature_47   23896 non-null  object
 50  feature_48   5497 non-null   object
 51  feature_49   104 non-null    float64
 52  feature_50   23881 non-null  object
 53  feature_51   12474 non-null  object
 54  feature_52   23881 non-null  float64
 55  feature_53   12286 non-null  object
 56  feature_54   23881 non-null  object
 57  feature_55   23881 non-null  float64
 58  feature_56   23881 non-null  float64
 59  feature_57   2393 non-null   object
 60  feature_58   23881 non-null  object
 61  feature_59   23881 non-null  object
 62  feature_60   23881 non-null  object
 63  feature_61   9 non-null      object
 64  feature_62   23881 non-null  object
 65  feature_63   23881 non-null  object
 66  feature_64   23881 non-null  float64
 67  feature_65   23881 non-null  float64
 68  feature_66   23881 non-null  float64
 69  feature_67   23881 non-null  float64
 70  feature_68   23881 non-null  float64
 71  feature_69   23881 non-null  float64
 72  feature_70   23881 non-null  object
 73  feature_71   23881 non-null  float64
 74  feature_72   23881 non-null  object
 75  feature_73   2945 non-null   object
 76  feature_74   17 non-null     float64
 77  feature_75   23881 non-null  object
 78  feature_76   23881 non-null  float64
 79  feature_77   23896 non-null  object
 80  feature_78   23881 non-null  float64
 81  feature_79   23881 non-null  object
 82  Bad_label    23896 non-null  int64
dtypes: float64(32), int64(2), object(49)
memory usage: 15.1+ MB

In [24]:
missing = data2.isnull().mean()*100
missing.sort_values(ascending=False)

feature_61    99.962337
feature_74    99.928858
feature_18    99.924674
feature_10    99.786575
feature_49    99.564781
                ...
feature_22     0.000000
feature_47     0.000000
feature_20     0.000000
feature_77     0.000000
Bad_label      0.000000
Length: 83, dtype: float64

In [25]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 83 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dt_opened    23896 non-null  object
 1   customer_no  23896 non-null  int64
 2   entry_time   23881 non-null  object
 3   feature_1    23881 non-null  object
 4   feature_2    21060 non-null  object
 5   feature_3    21060 non-null  float64
 6   feature_4    23881 non-null  float64
 7   feature_5    23881 non-null  object
 8   feature_6    23881 non-null  float64
 9   feature_7    23881 non-null  float64
 10  feature_8    1261 non-null   object
 11  feature_9    1261 non-null   object
 12  feature_10   51 non-null     object
 13  feature_11   23881 non-null  object
 14  feature_12   23881 non-null  object
 15  feature_13   10892 non-null  object
 16  feature_14   16163 non-null  float64
 17  feature_15   23873 non-null  object
 18  feature_16   23869 non-null  object
 19  feature_17   1027 non-null   object
 20  feature_18   18 non-null     object
 21  feature_19   23881 non-null  float64
 22  feature_20   23896 non-null  object
 23  feature_21   23881 non-null  object
 24  feature_22   23896 non-null  object
 25  feature_23   23881 non-null  object
 26  feature_24   23256 non-null  object
 27  feature_25   23881 non-null  float64
 28  feature_26   23881 non-null  float64
 29  feature_27   20259 non-null  object
 30  feature_28   23881 non-null  object
 31  feature_29   23881 non-null  float64
 32  feature_30   23881 non-null  float64
 33  feature_31   23881 non-null  float64
 34  feature_32   23881 non-null  object
 35  feature_33   23881 non-null  object
 36  feature_34   23881 non-null  float64
 37  feature_35   23881 non-null  float64
 38  feature_36   18214 non-null  object
 39  feature_37   18214 non-null  object
 40  feature_38   18214 non-null  object
 41  feature_39   23881 non-null  float64
 42  feature_40   23881 non-null  float64
 43  feature_41   23881 non-null  float64
 44  feature_42   23881 non-null  float64
 45  feature_43   23881 non-null  object
 46  feature_44   23881 non-null  float64
 47  feature_45   10183 non-null  object
 48  feature_46   23802 non-null  object
 49  feature_47   23896 non-null  object
 50  feature_48   5497 non-null   object
 51  feature_49   104 non-null    float64
 52  feature_50   23881 non-null  object
 53  feature_51   12474 non-null  object
 54  feature_52   23881 non-null  float64
 55  feature_53   12286 non-null  object
 56  feature_54   23881 non-null  object
 57  feature_55   23881 non-null  float64
 58  feature_56   23881 non-null  float64
 59  feature_57   2393 non-null   object
 60  feature_58   23881 non-null  object
 61  feature_59   23881 non-null  object
 62  feature_60   23881 non-null  object
 63  feature_61   9 non-null      object
 64  feature_62   23881 non-null  object
 65  feature_63   23881 non-null  object
 66  feature_64   23881 non-null  float64
 67  feature_65   23881 non-null  float64
 68  feature_66   23881 non-null  float64
 69  feature_67   23881 non-null  float64
 70  feature_68   23881 non-null  float64
 71  feature_69   23881 non-null  float64
 72  feature_70   23881 non-null  object
 73  feature_71   23881 non-null  float64
 74  feature_72   23881 non-null  object
 75  feature_73   2945 non-null   object
 76  feature_74   17 non-null     float64
 77  feature_75   23881 non-null  object
 78  feature_76   23881 non-null  float64
 79  feature_77   23896 non-null  object
 80  feature_78   23881 non-null  float64
 81  feature_79   23881 non-null  object
 82  Bad_label    23896 non-null  int64
dtypes: float64(32), int64(2), object(49)
memory usage: 15.1+ MB

In [26]:
data2["dt_opened"] = pd.to_datetime(data2["dt_opened"], errors="coerce")
data2["entry_time"] = pd.to_datetime(data2["entry_time"], errors="coerce")

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\2978224859.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data2["dt_opened"] = pd.to_datetime(data2["dt_opened"], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\2978224859.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data2["entry_time"] = pd.to_datetime(data2["entry_time"], errors="coerce")

In [29]:
missing = data2.isnull().mean()*100
drop_cols = missing[missing > 60].index
data2.drop(columns=drop_cols, inplace=True)

In [31]:
const_cols = [col for col in data2.columns if data2[col].nunique() <= 1]
data2.drop(columns=const_cols, inplace=True)

In [32]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 69 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dt_opened    23896 non-null  datetime64[ns]
 1   customer_no  23896 non-null  int64
 2   entry_time   23881 non-null  datetime64[ns]
 3   feature_1    23881 non-null  object
 4   feature_2    21060 non-null  object
 5   feature_3    21060 non-null  float64
 6   feature_4    23881 non-null  float64
 7   feature_7    23881 non-null  float64
 8   feature_11   23881 non-null  object
 9   feature_12   23881 non-null  object
 10  feature_13   10892 non-null  object
 11  feature_14   16163 non-null  float64
 12  feature_15   23873 non-null  object
 13  feature_16   23869 non-null  object
 14  feature_19   23881 non-null  float64
 15  feature_20   23896 non-null  object
 16  feature_21   23881 non-null  object
 17  feature_22   23896 non-null  object
 18  feature_23   23881 non-null  object
 19  feature_24   23256 non-null  object
 20  feature_25   23881 non-null  float64
 21  feature_26   23881 non-null  float64
 22  feature_27   20259 non-null  object
 23  feature_28   23881 non-null  object
 24  feature_29   23881 non-null  float64
 25  feature_30   23881 non-null  float64
 26  feature_31   23881 non-null  float64
 27  feature_32   23881 non-null  object
 28  feature_33   23881 non-null  object
 29  feature_34   23881 non-null  float64
 30  feature_35   23881 non-null  float64
 31  feature_36   18214 non-null  object
 32  feature_37   18214 non-null  object
 33  feature_38   18214 non-null  object
 34  feature_39   23881 non-null  float64
 35  feature_40   23881 non-null  float64
 36  feature_41   23881 non-null  float64
 37  feature_42   23881 non-null  float64
 38  feature_43   23881 non-null  object
 39  feature_44   23881 non-null  float64
 40  feature_45   10183 non-null  object
 41  feature_46   23802 non-null  object
 42  feature_47   23896 non-null  object
 43  feature_50   23881 non-null  object
 44  feature_51   12474 non-null  object
 45  feature_52   23881 non-null  float64
 46  feature_53   12286 non-null  object
 47  feature_55   23881 non-null  float64
 48  feature_56   23881 non-null  float64
 49  feature_58   23881 non-null  object
 50  feature_59   23881 non-null  object
 51  feature_60   23881 non-null  object
 52  feature_62   23881 non-null  object
 53  feature_63   23881 non-null  object
 54  feature_64   23881 non-null  float64
 55  feature_65   23881 non-null  float64
 56  feature_66   23881 non-null  float64
 57  feature_67   23881 non-null  float64
 58  feature_68   23881 non-null  float64
 59  feature_69   23881 non-null  float64
 60  feature_70   23881 non-null  object
 61  feature_71   23881 non-null  float64
 62  feature_72   23881 non-null  object
 63  feature_75   23881 non-null  object
 64  feature_76   23881 non-null  float64
 65  feature_77   23896 non-null  object
 66  feature_78   23881 non-null  float64
 67  feature_79   23881 non-null  object
 68  Bad_label    23896 non-null  int64
dtypes: datetime64[ns](2), float64(29), int64(2), object(36)
memory usage: 12.6+ MB

In [33]:
# -------- NUMERIC COLUMNS --------
num_cols = data2.select_dtypes(include=["float64","int64"]).columns
data2[num_cols] = data2[num_cols].fillna(data2[num_cols].median())

In [34]:
# -------- CATEGORICAL COLUMNS --------
cat_cols = data2.select_dtypes(include="object").columns
data2[cat_cols] = data2[cat_cols].fillna("Missing")

In [35]:
# -------- DATE COLUMNS --------
date_cols = data2.select_dtypes(include="datetime64[ns]").columns
data2[date_cols] = data2[date_cols].fillna(pd.Timestamp("1900-01-01"))

In [36]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 69 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dt_opened    23896 non-null  datetime64[ns]
 1   customer_no  23896 non-null  int64
 2   entry_time   23896 non-null  datetime64[ns]
 3   feature_1    23896 non-null  object
 4   feature_2    23896 non-null  object
 5   feature_3    23896 non-null  float64
 6   feature_4    23896 non-null  float64
 7   feature_7    23896 non-null  float64
 8   feature_11   23896 non-null  object
 9   feature_12   23896 non-null  object
 10  feature_13   23896 non-null  object
 11  feature_14   23896 non-null  float64
 12  feature_15   23896 non-null  object
 13  feature_16   23896 non-null  object
 14  feature_19   23896 non-null  float64
 15  feature_20   23896 non-null  object
 16  feature_21   23896 non-null  object
 17  feature_22   23896 non-null  object
 18  feature_23   23896 non-null  object
 19  feature_24   23896 non-null  object
 20  feature_25   23896 non-null  float64
 21  feature_26   23896 non-null  float64
 22  feature_27   23896 non-null  object
 23  feature_28   23896 non-null  object
 24  feature_29   23896 non-null  float64
 25  feature_30   23896 non-null  float64
 26  feature_31   23896 non-null  float64
 27  feature_32   23896 non-null  object
 28  feature_33   23896 non-null  object
 29  feature_34   23896 non-null  float64
 30  feature_35   23896 non-null  float64
 31  feature_36   23896 non-null  object
 32  feature_37   23896 non-null  object
 33  feature_38   23896 non-null  object
 34  feature_39   23896 non-null  float64
 35  feature_40   23896 non-null  float64
 36  feature_41   23896 non-null  float64
 37  feature_42   23896 non-null  float64
 38  feature_43   23896 non-null  object
 39  feature_44   23896 non-null  float64
 40  feature_45   23896 non-null  object
 41  feature_46   23896 non-null  object
 42  feature_47   23896 non-null  object
 43  feature_50   23896 non-null  object
 44  feature_51   23896 non-null  object
 45  feature_52   23896 non-null  float64
 46  feature_53   23896 non-null  object
 47  feature_55   23896 non-null  float64
 48  feature_56   23896 non-null  float64
 49  feature_58   23896 non-null  object
 50  feature_59   23896 non-null  object
 51  feature_60   23896 non-null  object
 52  feature_62   23896 non-null  object
 53  feature_63   23896 non-null  object
 54  feature_64   23896 non-null  float64
 55  feature_65   23896 non-null  float64
 56  feature_66   23896 non-null  float64
 57  feature_67   23896 non-null  float64
 58  feature_68   23896 non-null  float64
 59  feature_69   23896 non-null  float64
 60  feature_70   23896 non-null  object
 61  feature_71   23896 non-null  float64
 62  feature_72   23896 non-null  object
 63  feature_75   23896 non-null  object
 64  feature_76   23896 non-null  float64
 65  feature_77   23896 non-null  object
 66  feature_78   23896 non-null  float64
 67  feature_79   23896 non-null  object
 68  Bad_label    23896 non-null  int64
dtypes: datetime64[ns](2), float64(29), int64(2), object(36)
memory usage: 12.6+ MB

In [37]:
data3=pd.read_csv("Cust_Enquiry.csv")

In [38]:
data3.head()

   dt_opened  customer_no  upload_dt enquiry_dt  enq_purpose    enq_amt
0  18-Apr-15            1  21-Apr-15  19-Dec-14          2.0  3500000.0
1  18-Apr-15            1  21-Apr-15  05-Mar-14          5.0   500000.0
2  18-Apr-15            1  21-Apr-15  05-Mar-14          0.0    50000.0
3  18-Apr-15            1  21-Apr-15  22-Feb-14         10.0    50000.0
4  18-Apr-15            1  21-Apr-15  11-Jun-13         10.0     1000.0

In [39]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413188 entries, 0 to 413187
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   dt_opened    413188 non-null  object
 1   customer_no  413188 non-null  int64
 2   upload_dt    413078 non-null  object
 3   enquiry_dt   413078 non-null  object
 4   enq_purpose  413078 non-null  float64
 5   enq_amt      413078 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 18.9+ MB

In [40]:
data3["dt_opened"] = pd.to_datetime(data3["dt_opened"], errors="coerce")
data3["upload_dt"] = pd.to_datetime(data3["upload_dt"], errors="coerce")
data3["enquiry_dt"] = pd.to_datetime(data3["enquiry_dt"], errors="coerce")

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4175842631.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data3["dt_opened"] = pd.to_datetime(data3["dt_opened"], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4175842631.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data3["upload_dt"] = pd.to_datetime(data3["upload_dt"], errors="coerce")
C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\4175842631.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data3["enquiry_dt"] = pd.to_datetime(data3["enquiry_dt"], errors="coerce")

In [41]:
num_cols = data3.select_dtypes(include=["float64","int64"]).columns
data3[num_cols] = data3[num_cols].fillna(data3[num_cols].median())

cat_cols = data3.select_dtypes(include="object").columns
data3[cat_cols] = data3[cat_cols].fillna("Missing")

In [42]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413188 entries, 0 to 413187
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   dt_opened    413188 non-null  datetime64[ns]
 1   customer_no  413188 non-null  int64
 2   upload_dt    413078 non-null  datetime64[ns]
 3   enquiry_dt   413078 non-null  datetime64[ns]
 4   enq_purpose  413188 non-null  float64
 5   enq_amt      413188 non-null  float64
dtypes: datetime64[ns](3), float64(2), int64(1)
memory usage: 18.9 MB

In [44]:
enq= data3.groupby("customer_no").agg(
    total_enquiries=("enquiry_dt","count"),
    avg_enq_amt=("enq_amt","mean"),
    max_enq_amt=("enq_amt","max"),
    last_enq_date=("enquiry_dt","max")
).reset_index()

In [45]:
enq.head()

   customer_no  total_enquiries   avg_enq_amt  max_enq_amt last_enq_date
0            1               18  2.767306e+05    3500000.0    2014-12-19
1            2               68  9.818650e+07  750000000.0    2015-02-11
2            3                1  3.400000e+06    3400000.0    2014-02-08
3            4               34  1.494412e+06    4000000.0    2014-03-03
4            5                2  1.000000e+03       1000.0    2012-03-28

In [46]:
enq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_no      23896 non-null  int64
 1   total_enquiries  23896 non-null  int64
 2   avg_enq_amt      23896 non-null  float64
 3   max_enq_amt      23896 non-null  float64
 4   last_enq_date    23787 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 933.6 KB

In [47]:
acc = data1.groupby("customer_no").agg(  #aggregating account table
    total_accounts=("acct_type","count"),
    total_balance=("cur_balance_amt","sum"),
    avg_balance=("cur_balance_amt","mean"),
    total_past_due=("amt_past_due","sum"),
    max_credit=("high_credit_amt","max"),
    avg_credit=("high_credit_amt","mean")
).reset_index()

In [48]:
df = data2.merge(acc, on="customer_no", how="left")

In [49]:
df = df.merge(enq, on="customer_no", how="left")

In [50]:
df.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_7,feature_11,feature_12,...,total_accounts,total_balance,avg_balance,total_past_due,max_credit,avg_credit,total_enquiries,avg_enq_amt,max_enq_amt,last_enq_date
0,2015-04-18,1,2015-04-13,Insignia,13-Apr-15,650.0,2.0,500000.0,Y,IS1,...,18,4714857,261936.500000,2538209.0,2528846.0,5.266709e+05,18,2.767306e+05,3500000.0,2014-12-19
1,2015-04-21,2,2015-04-21,Insignia,21-Apr-15,760.0,1.0,1200000.0,Y,IS1,...,2,30754,15377.000000,0.0,1000000.0,5.587975e+05,68,9.818650e+07,750000000.0,2015-02-11
2,2015-04-22,3,2015-04-21,Insignia,21-Apr-15,774.0,1.0,700000.0,Y,IS1,...,1,17864,17864.000000,0.0,121523.0,1.215230e+05,1,3.400000e+06,3400000.0,2014-02-08
3,2015-04-25,4,2015-04-15,Insignia,20-Apr-15,770.0,1.0,500000.0,Y,IS1,...,17,1845569,108562.882353,0.0,3000000.0,8.203109e+05,34,1.494412e+06,4000000.0,2014-03-03
4,2015-05-06,5,2015-04-30,Insignia,Missing,721.0,3.0,500000.0,Y,IS1,...,7,7973,1139.000000,0.0,12662938.0,3.204376e+06,2,1.000000e+03,1000.0,2012-03-28

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 79 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dt_opened        23896 non-null  datetime64[ns]
 1   customer_no      23896 non-null  int64
 2   entry_time       23896 non-null  datetime64[ns]
 3   feature_1        23896 non-null  object
 4   feature_2        23896 non-null  object
 5   feature_3        23896 non-null  float64
 6   feature_4        23896 non-null  float64
 7   feature_7        23896 non-null  float64
 8   feature_11       23896 non-null  object
 9   feature_12       23896 non-null  object
 10  feature_13       23896 non-null  object
 11  feature_14       23896 non-null  float64
 12  feature_15       23896 non-null  object
 13  feature_16       23896 non-null  object
 14  feature_19       23896 non-null  float64
 15  feature_20       23896 non-null  object
 16  feature_21       23896 non-null  object
 17  feature_22       23896 non-null  object
 18  feature_23       23896 non-null  object
 19  feature_24       23896 non-null  object
 20  feature_25       23896 non-null  float64
 21  feature_26       23896 non-null  float64
 22  feature_27       23896 non-null  object
 23  feature_28       23896 non-null  object
 24  feature_29       23896 non-null  float64
 25  feature_30       23896 non-null  float64
 26  feature_31       23896 non-null  float64
 27  feature_32       23896 non-null  object
 28  feature_33       23896 non-null  object
 29  feature_34       23896 non-null  float64
 30  feature_35       23896 non-null  float64
 31  feature_36       23896 non-null  object
 32  feature_37       23896 non-null  object
 33  feature_38       23896 non-null  object
 34  feature_39       23896 non-null  float64
 35  feature_40       23896 non-null  float64
 36  feature_41       23896 non-null  float64
 37  feature_42       23896 non-null  float64
 38  feature_43       23896 non-null  object
 39  feature_44       23896 non-null  float64
 40  feature_45       23896 non-null  object
 41  feature_46       23896 non-null  object
 42  feature_47       23896 non-null  object
 43  feature_50       23896 non-null  object
 44  feature_51       23896 non-null  object
 45  feature_52       23896 non-null  float64
 46  feature_53       23896 non-null  object
 47  feature_55       23896 non-null  float64
 48  feature_56       23896 non-null  float64
 49  feature_58       23896 non-null  object
 50  feature_59       23896 non-null  object
 51  feature_60       23896 non-null  object
 52  feature_62       23896 non-null  object
 53  feature_63       23896 non-null  object
 54  feature_64       23896 non-null  float64
 55  feature_65       23896 non-null  float64
 56  feature_66       23896 non-null  float64
 57  feature_67       23896 non-null  float64
 58  feature_68       23896 non-null  float64
 59  feature_69       23896 non-null  float64
 60  feature_70       23896 non-null  object
 61  feature_71       23896 non-null  float64
 62  feature_72       23896 non-null  object
 63  feature_75       23896 non-null  object
 64  feature_76       23896 non-null  float64
 65  feature_77       23896 non-null  object
 66  feature_78       23896 non-null  float64
 67  feature_79       23896 non-null  object
 68  Bad_label        23896 non-null  int64
 69  total_accounts   23896 non-null  int64
 70  total_balance    23896 non-null  int64
 71  avg_balance      23896 non-null  float64
 72  total_past_due   23896 non-null  float64
 73  max_credit       23883 non-null  float64
 74  avg_credit       23883 non-null  float64
 75  total_enquiries  23896 non-null  int64
 76  avg_enq_amt      23896 non-null  float64
 77  max_enq_amt      23896 non-null  float64
 78  last_enq_date    23787 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(35), int64(5), object(36)
memory usage: 14.4+ MB

In [52]:
 today = pd.Timestamp.today()#Dates cannot go into model directly.

df["account_age_days"] = (today - df["dt_opened"]).dt.days
df["customer_tenure_days"] = (today - df["entry_time"]).dt.days
df["days_since_last_enq"] = (today - df["last_enq_date"]).dt.days

In [53]:
df["days_since_last_enq"].fillna(9999, inplace=True)

C:\Users\APARNA\AppData\Local\Temp\ipykernel_19096\2094388345.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["days_since_last_enq"].fillna(9999, inplace=True)

In [54]:
df.drop(columns=["dt_opened","entry_time","last_enq_date"], inplace=True)

In [55]:
df.drop(columns=["customer_no"], inplace=True)

In [56]:
df.columns

Index(['feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_7',
       'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_15',
       'feature_16', 'feature_19', 'feature_20', 'feature_21', 'feature_22',
       'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27',
       'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32',
       'feature_33', 'feature_34', 'feature_35', 'feature_36', 'feature_37',
       'feature_38', 'feature_39', 'feature_40', 'feature_41', 'feature_42',
       'feature_43', 'feature_44', 'feature_45', 'feature_46', 'feature_47',
       'feature_50', 'feature_51', 'feature_52', 'feature_53', 'feature_55',
       'feature_56', 'feature_58', 'feature_59', 'feature_60', 'feature_62',
       'feature_63', 'feature_64', 'feature_65', 'feature_66', 'feature_67',
       'feature_68', 'feature_69', 'feature_70', 'feature_71', 'feature_72',
       'feature_75', 'feature_76', 'feature_77', 'feature_78', 'feature_79',
       'Bad_label', 'total_accounts', 'total_balance', 'avg_balance',
       'total_past_due', 'max_credit', 'avg_credit', 'total_enquiries',
       'avg_enq_amt', 'max_enq_amt', 'account_age_days',
       'customer_tenure_days', 'days_since_last_enq'],
      dtype='object')

total_accounts: How many active credit accounts customer has.
total_balance: Total outstanding balance.
avg_balance: Balance per customer
total_past_due: Total overdue amount.
max_credit: Highest credit limit across accounts.
avg_credit: Highest credit limit across accounts.
total_enquiries: Number of times customer applied for credit.
avg_enq_amount: Average requested loan amount..
max_enq_amount: Largest loan requested.
days_since_last_enq: Recency of last credit enquiry.

##EDA

In [57]:
df["Bad_label"].value_counts()
df["Bad_label"].value_counts(normalize=True)
#Dataset is highly imbalanced with only 4.2% bad customers.

Bad_label
0    0.957985
1    0.042015
Name: proportion, dtype: float64

In [58]:
df.describe()

,feature_3,feature_4,feature_7,feature_14,feature_19,feature_25,feature_26,feature_29,feature_30,feature_31,...,avg_balance,total_past_due,max_credit,avg_credit,total_enquiries,avg_enq_amt,max_enq_amt,account_age_days,customer_tenure_days,days_since_last_enq
count,23896.000000,23896.000000,2.389600e+04,23896.000000,23896.000000,23896.000000,23896.000000,23896.000000,23896.000000,23896.000000,...,2.389600e+04,2.389600e+04,2.388300e+04,2.388300e+04,23896.000000,2.389600e+04,2.389600e+04,23896.000000,23896.000000,23896.000000
mean,722.970581,2.322020,1.190610e+05,9.353030,1.049381,1.233763,0.725184,217552.732968,2001.186391,0.651908,...,7.082324e+04,9.469535e+02,5.715514e+05,1.457383e+05,17.286491,5.483429e+05,7.231267e+06,3816.394459,3870.574824,4005.880273
std,35.041620,0.892719,7.750007e+04,4.975764,0.216666,0.423232,1.124780,159239.881327,11.990042,2.343030,...,2.152128e+05,4.139207e+04,2.043995e+06,4.568127e+05,15.253240,3.086798e+06,4.162499e+07,68.600944,1060.110829,472.361684
min,-1.000000,1.000000,0.000000e+00,0.000000,1.000000,1.000000,0.000000,110001.000000,1964.000000,0.000000,...,-1.165763e+06,0.000000e+00,5.000000e+01,5.000000e+01,0.000000,1.000000e+00,1.000000e+00,3712.000000,3720.000000,3720.000000
25%,700.000000,1.000000,7.200000e+04,12.000000,1.000000,1.000000,0.000000,110051.000000,1991.000000,0.000000,...,9.083621e+03,0.000000e+00,7.067800e+04,4.054375e+04,7.000000,4.183333e+04,1.000000e+05,3757.000000,3787.000000,3848.000000
50%,721.000000,3.000000,1.040000e+05,12.000000,1.000000,1.000000,0.000000,110094.000000,2005.000000,0.000000,...,2.596633e+04,0.000000e+00,1.870000e+05,7.212000e+04,13.000000,9.055286e+04,4.000000e+05,3806.000000,3839.000000,3925.000000
75%,741.000000,3.000000,1.390000e+05,12.000000,1.000000,1.000000,2.000000,390002.000000,2011.000000,0.000000,...,6.346017e+04,0.000000e+00,4.600000e+05,1.383520e+05,23.000000,2.089790e+05,1.004940e+06,3871.000000,3899.000000,4025.000000
max,896.000000,3.000000,1.217000e+06,12.000000,2.000000,2.000000,10.000000,712245.000000,2015.000000,12.000000,...,1.172659e+07,4.869309e+06,1.800000e+08,3.884610e+07,308.000000,1.709149e+08,1.000000e+09,3971.000000,46079.000000,9999.000000

In [59]:
df.groupby("Bad_label")["total_past_due"].mean()

Bad_label
0    964.179364
1    554.191235
Name: total_past_due, dtype: float64

In [60]:
df.groupby("Bad_label")["total_enquiries"].mean()

Bad_label
0    17.296829
1    17.050797
Name: total_enquiries, dtype: float64

In [61]:
df.groupby("Bad_label")["days_since_last_enq"].mean()

Bad_label
0    4006.835488
1    3984.100598
Name: days_since_last_enq, dtype: float64

In [62]:
corr = df.corr(numeric_only=True)["Bad_label"].abs().sort_values(ascending=False)
corr

Bad_label               1.000000
feature_7               0.059403
feature_52              0.053678
feature_3               0.042356
total_accounts          0.037718
feature_41              0.025916
feature_26              0.024310
feature_25              0.021835
feature_29              0.018638
feature_4               0.017219
feature_44              0.017156
account_age_days        0.016724
feature_39              0.016509
feature_34              0.016178
feature_68              0.016178
avg_credit              0.013272
feature_66              0.012947
avg_balance             0.011809
feature_14              0.010797
max_credit              0.010019
total_balance           0.009899
days_since_last_enq     0.009656
feature_71              0.009461
feature_35              0.007511
feature_69              0.007511
feature_31              0.006723
feature_30              0.006487
feature_55              0.006441
feature_65              0.005319
feature_19              0.005220
feature_78              0.004978
feature_40              0.004764
avg_enq_amt             0.004330
max_enq_amt             0.004213
feature_67              0.003770
feature_64              0.003531
total_enquiries         0.003236
feature_42              0.002614
customer_tenure_days    0.002384
total_past_due          0.001987
feature_56              0.001342
feature_76              0.000333
Name: Bad_label, dtype: float64

In [80]:
selected_features = corr[corr > 0.015]
selected_features

Bad_label           1.000000
feature_7           0.059403
feature_52          0.053678
feature_3           0.042356
total_accounts      0.037718
feature_41          0.025916
feature_26          0.024310
feature_25          0.021835
feature_29          0.018638
feature_4           0.017219
feature_44          0.017156
account_age_days    0.016724
feature_39          0.016509
feature_34          0.016178
feature_68          0.016178
Name: Bad_label, dtype: float64

In [81]:
important_cols = selected_features.index.tolist()
important_cols

['Bad_label',
 'feature_7',
 'feature_52',
 'feature_3',
 'total_accounts',
 'feature_41',
 'feature_26',
 'feature_25',
 'feature_29',
 'feature_4',
 'feature_44',
 'account_age_days',
 'feature_39',
 'feature_34',
 'feature_68']

In [82]:
important_cols.remove("Bad_label")
important_cols

['feature_7',
 'feature_52',
 'feature_3',
 'total_accounts',
 'feature_41',
 'feature_26',
 'feature_25',
 'feature_29',
 'feature_4',
 'feature_44',
 'account_age_days',
 'feature_39',
 'feature_34',
 'feature_68']

In [83]:
df_reduced = df[important_cols + ["Bad_label"]]

In [84]:
df_reduced.head()

,feature_7,feature_52,feature_3,total_accounts,feature_41,feature_26,feature_25,feature_29,feature_4,feature_44,account_age_days,feature_39,feature_34,feature_68,Bad_label
0,500000.0,0.0,650.0,18,0.0,2.0,1.0,400610.0,2.0,400059.0,3969,0.0,2.0,2.0,0
1,1200000.0,0.0,760.0,2,0.0,2.0,1.0,560042.0,1.0,560042.0,3966,0.0,2.0,2.0,0
2,700000.0,0.0,774.0,1,0.0,0.0,1.0,560042.0,1.0,560042.0,3965,0.0,2.0,2.0,0
3,500000.0,0.0,770.0,17,0.0,3.0,1.0,411001.0,1.0,411026.0,3962,0.0,2.0,2.0,0
4,500000.0,0.0,721.0,7,0.0,3.0,1.0,122009.0,3.0,122009.0,3951,0.0,2.0,2.0,0

In [85]:
for col in important_cols:
    print(col)
    print(df_reduced.groupby("Bad_label")[col].mean())
    print("-------------")

feature_7
Bad_label
0    120025.148524
1     97078.685259
Name: feature_7, dtype: float64
-------------
feature_52
Bad_label
0    66124.334702
1    39157.620518
Name: feature_52, dtype: float64
-------------
feature_3
Bad_label
0    723.281408
1    715.883466
Name: feature_3, dtype: float64
-------------
total_accounts
Bad_label
0    7.850603
1    6.586653
Name: total_accounts, dtype: float64
-------------
feature_41
Bad_label
0    5.725363
1    5.188247
Name: feature_41, dtype: float64
-------------
feature_26
Bad_label
0    0.730910
1    0.594622
Name: feature_26, dtype: float64
-------------
feature_25
Bad_label
0    1.231828
1    1.277888
Name: feature_25, dtype: float64
-------------
feature_29
Bad_label
0    218174.259479
1    203381.433267
Name: feature_29, dtype: float64
-------------
feature_4
Bad_label
0    2.318801
1    2.395418
Name: feature_4, dtype: float64
-------------
feature_44
Bad_label
0    222751.724751
1    209341.990040
Name: feature_44, dtype: float64
-------------
account_age_days
Bad_label
0    3816.634720
1    3810.916335
Name: account_age_days, dtype: float64
-------------
feature_39
Bad_label
0    1536.524332
1    1466.160359
Name: feature_39, dtype: float64
-------------
feature_34
Bad_label
0    1.237244
1    1.271912
Name: feature_34, dtype: float64
-------------
feature_68
Bad_label
0    1.237244
1    1.271912
Name: feature_68, dtype: float64
-------------

In [86]:
df_reduced[important_cols].corr()

,feature_7,feature_52,feature_3,total_accounts,feature_41,feature_26,feature_25,feature_29,feature_4,feature_44,account_age_days,feature_39,feature_34,feature_68
feature_7,1.000000,0.573739,0.300612,0.227343,0.013453,0.086991,-0.126479,0.044309,-0.092159,0.039723,0.067054,-0.113239,0.113484,0.113484
feature_52,0.573739,1.000000,0.056958,0.212557,-0.020968,0.110838,-0.058729,0.049173,0.062276,0.047003,0.139577,-0.101545,0.102282,0.102282
feature_3,0.300612,0.056958,1.000000,0.060161,-0.006529,0.031748,-0.107900,-0.013415,-0.244546,-0.018789,-0.003184,-0.109355,0.110020,0.110020
total_accounts,0.227343,0.212557,0.060161,1.000000,0.073576,0.132284,-0.205477,0.184831,-0.005186,0.178030,0.075138,-0.118242,0.116571,0.116571
feature_41,0.013453,-0.020968,-0.006529,0.073576,1.000000,0.100491,-0.131980,0.069432,0.027442,0.075115,0.069869,0.763498,-0.761537,-0.761537
feature_26,0.086991,0.110838,0.031748,0.132284,0.100491,1.000000,-0.248867,0.088713,0.186957,0.085234,0.551933,-0.013954,0.014501,0.014501
feature_25,-0.126479,-0.058729,-0.107900,-0.205477,-0.131980,-0.248867,1.000000,-0.044356,0.028709,-0.033898,-0.039829,0.102879,-0.101519,-0.101519
feature_29,0.044309,0.049173,-0.013415,0.184831,0.069432,0.088713,-0.044356,1.000000,-0.152153,0.983204,-0.041371,0.007195,-0.006451,-0.006451
feature_4,-0.092159,0.062276,-0.244546,-0.005186,0.027442,0.186957,0.028709,-0.152153,1.000000,-0.149460,0.375516,0.074801,-0.074237,-0.074237
feature_44,0.039723,0.047003,-0.018789,0.178030,0.075115,0.085234,-0.033898,0.983204,-0.149460,1.000000,-0.040672,0.020905,-0.020204,-0.020204
account_age_days,0.067054,0.139577,-0.003184,0.075138,0.069869,0.551933,-0.039829,-0.041371,0.375516,-0.040672,1.000000,0.042341,-0.041427,-0.041427
feature_39,-0.113239,-0.101545,-0.109355,-0.118242,0.763498,-0.013954,0.102879,0.007195,0.074801,0.020905,0.042341,1.000000,-0.995822,-0.995822
feature_34,0.113484,0.102282,0.110020,0.116571,-0.761537,0.014501,-0.101519,-0.006451,-0.074237,-0.020204,-0.041427,-0.995822,1.000000,1.000000
feature_68,0.113484,0.102282,0.110020,0.116571,-0.761537,0.014501,-0.101519,-0.006451,-0.074237,-0.020204,-0.041427,-0.995822,1.000000,1.000000

In [105]:
standard_scaler=df_reduced.drop("Bad_label", axis=1).columns.tolist()

In [106]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), standard_scaler)
    ]
)

In [107]:
preprocessor

ColumnTransformer(transformers=[('num', StandardScaler(),
                                 ['feature_7', 'feature_52', 'feature_3',
                                  'total_accounts', 'feature_41', 'feature_26',
                                  'feature_25', 'feature_29', 'feature_4',
                                  'feature_44', 'account_age_days',
                                  'feature_39', 'feature_34', 'feature_68'])])

In [108]:
X=df_reduced.drop("Bad_label", axis=1)
y=df_reduced["Bad_label"]

In [109]:
X

,feature_7,feature_52,feature_3,total_accounts,feature_41,feature_26,feature_25,feature_29,feature_4,feature_44,account_age_days,feature_39,feature_34,feature_68
0,500000.0,0.0,650.0,18,0.0,2.0,1.0,400610.0,2.0,400059.0,3969,0.0,2.0,2.0
1,1200000.0,0.0,760.0,2,0.0,2.0,1.0,560042.0,1.0,560042.0,3966,0.0,2.0,2.0
2,700000.0,0.0,774.0,1,0.0,0.0,1.0,560042.0,1.0,560042.0,3965,0.0,2.0,2.0
3,500000.0,0.0,770.0,17,0.0,3.0,1.0,411001.0,1.0,411026.0,3962,0.0,2.0,2.0
4,500000.0,0.0,721.0,7,0.0,3.0,1.0,122009.0,3.0,122009.0,3951,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23891,119000.0,99000.0,704.0,10,0.0,0.0,2.0,110045.0,1.0,122001.0,3712,2015.0,1.0,1.0
23892,35000.0,0.0,721.0,1,3.0,0.0,2.0,110037.0,2.0,110037.0,3726,2012.0,1.0,1.0
23893,68000.0,52000.0,748.0,3,3.0,0.0,2.0,110033.0,3.0,122016.0,3769,2015.0,1.0,1.0
23894,158000.0,65000.0,740.0,6,0.0,0.0,1.0,110095.0,3.0,110095.0,3770,0.0,2.0,2.0
23895,106000.0,106000.0,688.0,4,0.0,0.0,1.0,201005.0,1.0,201005.0,3739,0.0,2.0,2.0

In [110]:
y

0        0
1        0
2        0
3        0
4        0
        ..
23891    0
23892    0
23893    0
23894    0
23895    0
Name: Bad_label, Length: 23896, dtype: int64

Pipeline Creation

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [112]:
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from imblearn.pipeline import Pipeline

LOGISTIC REGRESSION

In [113]:

pipe = Pipeline(steps=[
    ("preprocess", preprocessor),    #Scaling
    ("smote", SMOTE(random_state=42)),  # ONLY train data
    ("model", LogisticRegression(max_iter=2000))
])

In [114]:
pipe

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['feature_7', 'feature_52',
                                                   'feature_3',
                                                   'total_accounts',
                                                   'feature_41', 'feature_26',
                                                   'feature_25', 'feature_29',
                                                   'feature_4', 'feature_44',
                                                   'account_age_days',
                                                   'feature_39', 'feature_34',
                                                   'feature_68'])])),
                ('smote', SMOTE(random_state=42)),
                ('model', LogisticRegression(max_iter=2000))])

In [115]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['feature_7', 'feature_52',
                                                   'feature_3',
                                                   'total_accounts',
                                                   'feature_41', 'feature_26',
                                                   'feature_25', 'feature_29',
                                                   'feature_4', 'feature_44',
                                                   'account_age_days',
                                                   'feature_39', 'feature_34',
                                                   'feature_68'])])),
                ('smote', SMOTE(random_state=42)),
                ('model', LogisticRegression(max_iter=2000))])

In [116]:
y_predict = pipe.predict(X_test)

In [117]:
y_predict

array([0, 0, 1, ..., 1, 0, 0])

In [118]:
from sklearn.metrics import accuracy_score
print (accuracy_score(y_test, y_predict))

0.552510460251046

In [119]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predict)
print(cm)

[[2512 2070]
 [  69  129]]

In [120]:
pd.crosstab(y_test,y_predict)

col_0         0     1
Bad_label
0          2512  2070
1            69   129

In [121]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Accuracy
print("Accuracy:", accuracy_score(y_test, y_predict))

# Detailed classification report
print("Classification Report:\n", classification_report(y_test, y_predict))

# Confusion matrix
cm = confusion_matrix(y_test, y_predict)
print("Confusion Matrix:\n", cm)

Accuracy: 0.552510460251046
Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.55      0.70      4582
           1       0.06      0.65      0.11       198

    accuracy                           0.55      4780
   macro avg       0.52      0.60      0.40      4780
weighted avg       0.94      0.55      0.68      4780

Confusion Matrix:
 [[2512 2070]
 [  69  129]]